# Windows image file caches
Thumbs.db
# Folder config file
# Recycle Bin used on file shares
# Windows Installer files
build
# Windows shortcuts
.gradle
.idea
# =========================
# Operating System Files
# =========================

# OSX
# =========================

# Thumbnails
# Files that might appear in the root of a volume
# Directories potentially created on remote AFP share
